allowed_actions:
  - classify_issue
  - draft_jira_ticket
  - ask_missing_info
blocked_actions:
  - rollback
  - deploy
  - write_database
  - send_order
approval_required:
  - create_jira_ticket
  - page_engineer
